extends layout

block content
  .row
    each product in products
      .col-4
        .card.mt-5.bg-transparent.text-light.border-info
          h5.card-header.border-info #{product.name}
          .card-body
            h6.card-text Price: #{product.price}
            h6.card-text Manufacturer: #{product.manufacturer}
            h6.card-text In stock: #{product.stock}
            h6.card-text Contact: #{product.contact}
          .card-footer.border-info.btn-group
            a.btn.btn-info(href=`/products/${product.id}`) Show
            a.btn.btn-warning.text-light(href=`/products/delete/${product.id}`, method="delete") Delete
